# Developer tools' files
.lite_workspace.lua
devNotes.txt

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
.tmp/auth_info.json

