:root {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    /* color palette
    https://colorpalettes.net/color-palette-1012/ */
    --cc1: #202020 ;
    --cc2: #1b2e28;
    --cc3: #1c4a47;
    --cc4: #007261;
    --cc5: #b1d2db;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cc3);
    overflow: hidden

}

html {
    font-size: 62.5%;
    overflow: hidden
}

.sidebar-container {
    background-color: var(--cc2);
    height: 100vh;
    width: 17.5pc;
    color: white;
    display: flex;
    flex-direction: column;
}

.tasks-container {
    overflow: hidden;
    overflow-y: auto;
    /* height: 80%; */
    flex-grow: 1;
}

.tasks-container::-webkit-scrollbar {
    width: 10px;
}

.tasks-container::-webkit-scrollbar-thumb {
    background-color: var(--cc4);
    border-radius: 10px;
}

/* .sidebar-footer {
    background-color: var(--cc1);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.5rem 0 1rem;
    font-size: 1.5rem;
} */

/* .sidebar-footer {
    background-color: transparent;
} */

.task-input {
    background-color: var(--cc1);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.5rem 0 1rem;
    font-size: 1.5rem;
}

.new-task {
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-bottom: 2px solid #007261;
}

.fa-circle-exclamation {
    font-size: 2rem;
    color: lightcoral;
    padding-left: 1rem;
    visibility: hidden;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.fa-plus {
    padding-right: 2rem;
}



.calendar-container {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.calendar {
    width: 60rem;
    height: 52rem;
    background-color: var(--cc3);
}

.month {
    width: 100%;
    height: 10rem;
    background-color: var(--cc4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 2rem; */
    text-align: center;
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
    padding: 0 2rem;
}

.month h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.weekdays div {
    font-size: 1.5rem;
}

.days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items:  center;
    row-gap: 2rem;
    padding: 3rem 0;
}

.days div {
    font-size: 3rem;
    width: 5rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.days div:hover:not(.today) {
    box-shadow:0px 0px 0px 2px white inset;
}

.prev-days,
.next-days {
    opacity: 0.5;
}

.today {
    box-shadow:0px 0px 0px 0.3rem var(--cc4) inset;
}

/* UPDATE COLOR SCHEME */
.task-status-completed {
    background-color: chartreuse;
    box-shadow:0px 0px 0px 0.3rem chartreuse inset;

}

.task-status-failed {
    box-shadow:0px 0px 0px 0.3rem darkred inset;
    background-color: red;
}

.task-status-default {
    background-color: var(--cc1);
}

.home-area {
    display: flex;
    justify-content: left;
    align-items: center;

    padding: 0 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    background-color: darkcyan;
    color: white;
}

.home-area:hover {
    background-color: #007261;
}

.task {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.5rem 0 1rem 2rem;
    font-size: 1.5rem;

    cursor: pointer;
    user-select: none;
}

.task:hover {
    background-color: #202020;
}

.fa-bars {
    padding-right: 2rem;
}

.fa-house {
    padding-right: 1.4rem;
}

.fa-plus {
    margin-left: 2rem;
}
